@import "default.less";
@import "animation.less";

@anim: 0.3s ease-out;
@1_3: ~"calc(100% / 3)";
@2_3: ~"calc(100% / 3*2)";

@blue: #099acc;
@black: #282928;
@gray: #363636;

.wrapper {
  overflow: hidden;
  margin-bottom: 340px;
}
.header {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  height: 50px;
  background: @black;
  z-index: 2000;
  font-size: 1rem;
  &-menu {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    .menu {
      &-item {
        font-family: Open Sans;
        font-weight: 600;
        font-size: 0.8125em;
        line-height: 18px;
        color: #ffffff;
        text-align: center;
        letter-spacing: 0.075em;
        text-transform: uppercase;

        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 14px;
        transition: @anim;
        &:hover {
          color: rgba(255, 255, 255, 0.7);
        }
        &.active {
          color: rgba(255, 255, 255, 0.7);
        }
      }
    }
    &-left,
    &-right {
      width: ~"calc((100% - 66px)/2)";
      display: flex;
      align-items: center;
    }
    &-left {
      justify-content: flex-end;
    }
  }
  .logo {
    height: 100%;
    padding: 0 20px;
    position: relative;
    width: 66px;
    transition: @anim;
    display: block;
    /* &-text {
      width: 114px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      opacity: 1;
      font-family: Open Sans;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 27px;
      color: #ffffff;
      display: flex;
      align-items: center;
      text-align: center;
      height: 100%;
      transition: @anim;
      &:hover {
        color: rgba(255, 255, 255, 0.6);
      }
    } */
    &-img {
      width: 66px;
      transition: @anim;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      height: 100%;
      background-image: url(../images/logo.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      opacity: 1;
      pointer-events: none;
      &:hover {
        filter: brightness(1.1);
      }
    }
  }
}
.page {
  position: relative;
  z-index: 10;
  background: white;
  .banner {
    position: relative;
    display: flex;
    align-items: center;
    height: 100vh;
    //margin-bottom: 185px;
    &-bg {
      position: absolute;
      //z-index: -1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      //background: rgba(0, 0, 0, 0.47);
      background: rgba(0, 18, 52, 0.47);
      .up,
      .down {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
      }
      .down {
        z-index: -1;
        filter: blur(2px);
      }
    }
    &-content {
      margin: auto;
      text-align: center;
      pointer-events: none;
      position: relative;
      z-index: 2;
      user-select: none;
      h1 {
        margin: 0;
        font-weight: 600;
        line-height: 118%;
        margin-bottom: 40px;
        max-width: 790px;
      }
      p {
        margin: 0 auto;
        color: #ffffff;
        line-height: 30px;
        max-width: 473px;
      }
    }
    &-btn {
      pointer-events: auto;
    }
    .goto-down {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 30px;
      pointer-events: none;
      transition: all 0.6s;
      &.hide {
        opacity: 0;
      }
      svg {
        #whell {
          animation-name: scroll;
          animation-duration: 1s;
          animation-iteration-count: infinite;
        }
      }
    }
  }
  .doing {
    width: 100%;
    .def-offset-section;
    .def-insert-section-h;
    .def-insert-section-v;
    margin-top:0 !important;
    background: @black;
    display: flex;
    position: relative;
    font-size: 1rem;
    &-word {
      font-family: Raleway;
      font-style: normal;
      font-weight: 600;
      font-size: 140px;
      line-height: 80px;
      color: #1c1d1c;
      position: absolute;
      bottom: 50px;
      left: 70px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
    }
    &-text {
      padding-right: 50px;
      flex-basis: 407px;
      h2 {
        font-weight: 600;
        line-height: 100%;
        letter-spacing: 0.04em;
        margin: 0;
        margin-bottom: 30px;
      }
      p {
        font-size: 1em;
        line-height: 160%;
        color: #ffffff;
      }
    }
    &-list {
      display: flex;
      flex-basis: ~"calc(100% - 407px)";
      position: relative;
      z-index: 2;
    }
    &-item {
      text-align: center;
      color: #ffffff;
      background: @gray;
      position: relative;
      padding: 90px 25px 70px 25px;
      overflow: hidden;
      transition: box-shadow 0.3s;
      display: flex;
      flex-direction: column;
      .item {
        &-num {
          font-family: Raleway;
          position: absolute;
          right: -7px;
          top: -16px;
          font-style: normal;
          font-weight: 600;
          font-size: 70px;
          line-height: 50px;
          text-align: center;
          letter-spacing: 0.04em;
          color: #1c1d1c;
        }
        &-title {
          font-family: Open Sans;
          font-weight: 600;
          font-size: 1em;
          line-height: 160%;
          letter-spacing: 0.04em;
          text-transform: uppercase;
          text-align: inherit;
          color: inherit;
          margin-bottom: 23px;
        }
        &-text {
          margin-bottom: 40px;
          color: inherit;
          text-align: inherit;
          p {
            font-family: Open Sans;
            font-size: 1em;
            line-height: 160%;
            text-align: inherit;
            color: inherit;
            margin: 0;
          }
        }
        &-plus {
          margin: 0 auto;
          margin-top: auto;
        }
        &-list {
          padding: 0;
          margin: 0;
          color: inherit;
          text-align: left;
          display: inline-flex;
          flex-direction: column;
          align-items: flex-start;
          li {
            list-style: none;
            font-family: Open Sans;
            font-size: 1em;
            line-height: 160%;
            text-align: inherit;
            color: inherit;
            margin-bottom: 8px;
            padding-left: 30px;
            position: relative;
            &:before {
              content: "";
              display: block;
              width: 15px;
              height: 15px;
              background-image: url(../images/plus_blue.svg);
              background-size: contain;
              background-repeat: no-repeat;
              background-position: center;
              position: absolute;
              left: 0;
              top: 5px;
            }
          }
        }
      }
      &:hover {
        box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
        &:hover {
          .item-plus {
            border: 2px solid #ffffff;
            &:before {
              transform: rotate(90deg);
            }
          }
        }
      }
    }
    @media (max-width: 1150px) {
      display: block;
      &-text {
        max-width: 380px;
        padding-right: 0;
      }
      &-list {
        margin-top: 30px;
      }
    }
  }
  .present {
    width: 100%;
    .def-offset-section;
    .def-insert-section-h;
    .def-insert-section-v;
    background: @black;
    text-align: center;
    font-size: 1rem;
    h2 {
      text-align: center;
      margin: 0;
      margin-bottom: 66px;
    }
    &-item {
      width: 100%;
      display: flex;
      &:nth-child(2n) {
        align-items: flex-end;
        flex-direction: row-reverse;
        padding-top: 120px;
        position: relative;
        padding-right: ~"calc(50% - 80px)";
        .present {
          &-text {
            padding-left: 0px;
            padding-right: 70px;
          }
          &-img {
            width: ~"calc(50% - 80px)";
            position: absolute;
            right: 0;
            bottom: 0;
          }
        }
      }
      &:nth-child(2n-1):not(:first-child) {
        margin-top: 70px;
      }
      .present {
        &-img {
          width: ~"calc(50% - 80px)";
          position: relative;
        }
        &-spacer {
          padding-top: 100%;
          background: @gray;
        }
        &-layers {
          left: 0;
          top: 0;
          position: absolute;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          .layer {
            will-change: transform;
            width: 38%;
            height: 68%;
            position: absolute;
            transition: 0.5s;
            margin: 0 1%;
            perspective: 2500px;
            perspective-origin: 0 -100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            pointer-events: none;
            cursor: pointer;
            &-perspective {
              box-shadow: 20px 0 40px 3px rgba(0, 0, 0, 0.5);
              pointer-events: auto;
              width: 100%;
              height: 100%;
              will-change: transform;
              transition: inherit;
              transform-style: preserve-3d;
              transform-origin: center;
              transform: rotateY(-30deg);
              position: relative;
            }
            &-border {
              perspective-origin: top;
              perspective: 350px;
              position: relative;
              height: 100%;
              width: 100%;
              background: #9a9999;
              transition: inherit;
              border: 1px solid @gray;
              &:before {
                will-change: transform;
                content: "";
                position: absolute;
                left: 100%;
                top: 0;
                height: 100%;
                width: 10px;
                background: #c4c4c4;
                transform-style: preserve-3d;
                transform-origin: left top;
                transform: rotateY(30deg) skew(0deg, -5deg);
                transition: inherit;

                z-index: -1;
              }
              &:after {
                will-change: transform;
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                height: 10px;
                width: 100%;
                background: #c4c4c4;
                transform-style: preserve-3d;
                transform-origin: right top;
                transform: rotateX(102deg) skew(25deg, 0deg);
                transition: inherit;
                z-index: -1;
              }
            }
            &-box {
              display: block;
              will-change: transform;
              transform-origin: center;
              overflow: hidden;
              height: 100%;
              width: 100%;
              position: relative;
              transition: inherit;
            }
            img {
              filter: blur(0.1px);
              position: relative;
              z-index: 2;
            }
            &:hover {
              .layer-border {
                transform: scale(1.1);
              }
            }
          }
          .layer {
            &:nth-child(1) {
              .layer-perspective {
                transform: rotateY(-30deg) translateX(-45%) translateY(40px)
                  translateZ(40px);
              }
              z-index: 3;
            }
            &:nth-child(2) {
              z-index: 2;
            }
            &:nth-child(3) {
              .layer-perspective {
                transform: rotateY(-30deg) translateX(45%) translateY(-40px)
                  translateZ(-40px);
              }
              z-index: 1;
            }
          }
          img {
            position: absolute;
            width: 100%;
            left: 0;
            top: 0;
          }
        }
      }
    }
    &-text {
      padding-left: 70px;
      text-align: left;
      h3 {
        letter-spacing: 0.05em;
        margin-bottom: 21px;
        display: block;
        max-width: 450px;
      }
      p {
        font-weight: 300;
        font-size: 1em;
        line-height: 162.5%;
        color: #ffffff;
        margin-bottom: 34px;
        display: block;
        max-width: 500px;
      }
    }
    &-downBtn {
      margin-top: 70px;
    }
  }
  .comand {
    .def-offset-section;
    width: 100%;
    font-size: 1rem;
    &-row {
      display: flex;
      padding: 20px 70px;
      .def-insert-section-h;
    }
    &-text {
      flex-basis: 425px;
      padding-right: 50px;
      p {
        font-size: 1em;
        line-height: 162.5%;
        display: block;
        margin: 0;
        margin-bottom: 50px;
      }
    }
    &-list {
      flex-basis: ~"calc(100% - 425px)";
      display: flex;
      padding-left: 50px;
    }
    &-user {
      margin: 0 50px;
      flex-basis: ~"calc((100% - 300px)/4)";
      &:nth-child(1) {
        margin-left: 0;
      }
      &:nth-child(4) {
        margin-right: 0;
      }
      .user {
        &-img {
          padding-top: 93%;
          position: relative;
          margin-bottom: 24px;
          img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
          }
        }
        &-name {
          font-family: Raleway;
          font-weight: 300;
          font-size: 1em;
          line-height: 130%;
          display: flex;
          align-items: center;
          letter-spacing: 0.04em;
          text-transform: uppercase;
          margin-bottom: 12px;
        }
        &-type {
          font-family: Open Sans;
          font-weight: 300;
          font-size: 0.8125em;
          line-height: 130%;
          color: #1b1b1b;
        }
      }
    }
    @media(max-width: 1550px){
      &-user{
        margin: 0 30px;
        flex-basis: ~"calc((100% - 180px)/4)";
      }
    }
    @media(max-width: 1350px){
      &-text{
        flex-basis: 300px;
      }
      &-list{
        flex-basis: ~"calc(100% - 300px)";
        padding-left: 0;
      }
      &-user{
        margin: 0 15px;
        flex-basis: ~"calc((100% - 90px)/4)";
      }
    }
  }
  .angleBlock {
    .def-offset-block;
    .def-insert-section-h;
    .def-insert-section-h.box;
    max-width: 710px;
    font-size: 1rem;
    &.while {
      h2,
      p {
        color: white;
      }
      .angleBlock-right,
      .angleBlock-left {
        &:before,
        &:after {
          background-color: #ffffff;
        }
      }
    }
    .angle {
      width: 13px;
      height: 13px;
      position: absolute;
      &:before {
        content: "";
        display: block;
        position: absolute;
        background-color: @blue;
        height: 1px;
        width: 100%;
        left: 0;
        top: 0;
      }
      &:after {
        content: "";
        display: block;
        position: absolute;
        background-color: @blue;
        width: 1px;
        height: 100%;
        left: 0;
        top: 0;
      }
    }
    &-content {
      padding: 30px 50px;
      position: relative;
      text-align: center;
    }
    &-right {
      .angle;
      right: 0;
      bottom: 0;
      transform: rotate(180deg);
    }
    &-left {
      .angle;
      left: 0;
      top: 0;
    }
    h2 {
      color: @black;
      margin: 0;
    }
    p {
      font-weight: 300;
      font-size: 1.125em;
      line-height: 166%;
      color: @gray;

      margin: 0;
      margin-top: 25px;
      display: flex;
      align-items: center;
      text-align: center;
    }
  }
  .tools {
    .def-offset-block;
    .def-insert-section-h;
    .def-insert-section-h.box;
    max-width: 820px;
    text-align: center;
    h2 {
      margin: 0;
      margin-bottom: 50px;
      color: @black;
    }
    .swiper {
      &-wrapper {
        align-items: center;
      }
      &-pagination {
        bottom: auto;
        position: relative;
        margin-top: 4px;
        span {
          margin: 0 3px;
          width: 10px;
          height: 10px;
          opacity: 0.5;
          background: #000000;
          transition: @anim;
          &.swiper-pagination-bullet-active {
            opacity: 1;
          }
          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
  }
  .fullImg {
    margin-bottom: 150px;
    height: 750px;
    background: rgba(0, 0, 0, 0.65);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    &-img {
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: -1;
      background-image: url(../images/fullImg.jpg);
      background-repeat: no-repeat;
      background-size: cover;
    }
    .angleBlock {
      margin-bottom: 0;
    }
    .plus {
      margin: 0 auto;
      margin-top: 10px;
    }
  }
  .news {
    padding-bottom: 100px;
    text-align: center;
    position: relative;
    font-size: 1rem;
    .content{
      position: relative;
      z-index: 2;
    }
    &-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 40px;
      text-align: left;
    }
    &-item {
      width: ~"calc((100% - 80px)/3)";
      transition: 0.3s;
      padding: 0 15px 30px 15px;
      &-img {
        margin-bottom: 30px;
        background: rgba(0, 0, 0, 0.2);
        position: relative;
        overflow: hidden;
        height: 200px;
        margin-left: -15px;
        margin-right: -15px;
        img {
          position: absolute;
          width: 100%;
          height: auto;
          z-index: -1;
          left: 0;
          top: 0;
        }
      }
      &-title {
        font-family: Raleway;
        font-weight: 300;
        font-size: 1em;
        line-height: 130%;
        letter-spacing: 0.08em;
        text-transform: uppercase;

        display: flex;
        align-items: center;
        margin-bottom: 20px;
      }
      &-date {
        font-family: Open Sans;
        font-weight: 300;
        font-size: 0.8125em;
        line-height: 130%;
        color: #1b1b1b;
        display: flex;
        align-items: center;
        margin-bottom: 35px;
      }
      &-link {
        font-family: Open Sans;
        font-weight: 300;
        font-size: 0.9375em;
        line-height: 130%;
        display: flex;
        align-items: center;
        color: @blue;
      }
      &:hover {
        box-shadow: 0px 8px 35px rgba(0, 0, 0, 0.08);
      }
    }
    .btn-plus-text {
      margin: auto;
    }
  }
  .portfolio {
    background: @black;
    background: linear-gradient(219.9deg, #044a67 0%, #54d5ff 100%);
    font-size: 1rem;
    &::before {
      height: 50px;
      background: @black;
      width: 100%;
      display: block;
      content: "";
    }
    &-item {
      width: 100%;
      padding-top: 35%;
      position: relative;
      &:nth-child(2n-1) {
        .portfolio {
          &-img {
            margin-left: 0;
          }
          &-text {
            margin-left: @2_3;
          }
        }
      }
      &.showed,
      &:hover {
        .portfolio-img-layers {
          .layer {
            transform: none !important;
            box-shadow: 20px 0 40px 3px rgba(0, 0, 0, 0.2);
            &:before {
              transform: rotateY(90deg) translateX(0);
            }
          }
        }
      }
    }
    &-img {
      position: absolute;
      left: 0;
      top: 0;
      width: @2_3;
      margin-left: @1_3;
      height: 100%;
      z-index: 2;
      &:before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 20;
        pointer-events: none;
        background: rgba(0, 0, 0, 0.1);
      }
      &-bg {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      &-layers {
        width: 100%;
        height: 100%;
        &-box {
          perspective: 350px;
          align-items: center;
          justify-content: center;
          position: relative;
        }
        .layer {
          will-change: transform;
          box-shadow: 20px 0 40px 3px rgba(0, 0, 0, 0.5);
          width: 25%;
          height: 72%;
          position: relative;
          transform-style: preserve-3d;
          transform-origin: center;
          transition: 0.5s;
          transform: rotateY(-14deg);
          perspective: 350px;
          margin: 0 30px;
          background: #c4c4c4;
          cursor: pointer;
          &-box {
            will-change: transform;
            transform-origin: center;
            overflow: hidden;
            height: 100%;
            width: 100%;
            position: relative;
            transition: inherit;
          }
          &:before {
            will-change: transform;
            content: "";
            position: absolute;
            left: 100%;
            top: 0;
            height: 100%;
            width: 10px;
            background: inherit;
            transform-style: preserve-3d;
            transform-origin: left center;
            transform: rotateY(30deg) translateX(-1px);
            transition: inherit;
            z-index: -1;
          }

          img {
            filter: blur(0.1px);
          }
          &:hover {
            .layer-box {
              transform: scale(1.1);
            }
          }
        }
        &:not(.swiper-container-initialized) {
          .layer {
            &:nth-child(1) {
              transform: rotateY(-14deg) translateX(160px) translateZ(-20px);
              z-index: 3;
            }
            &:nth-child(2) {
              z-index: 2;
            }
            &:nth-child(3) {
              transform: rotateY(-14deg) translateX(-160px) translateZ(20px);
              z-index: 1;
              &:before {
                transform: rotateY(22deg) translateX(-1px) translateY(-1px);
              }
            }
          }
        }
        &.swiper-container-initialized {
          .layer {
            &.swiper-slide-prev {
              transform: rotateY(-14deg) translateX(160px) translateZ(-20px);
              z-index: 3;
            }
            &.swiper-slide-active {
              z-index: 2;
            }
            &.swiper-slide-next {
              transform: rotateY(-14deg) translateX(-160px) translateZ(20px);
              z-index: 1;
              &:before {
                transform: rotateY(22deg) translateX(-1px) translateY(-1px);
              }
            }
          }
        }
        img {
          position: absolute;
          width: 100%;
          left: 0;
          top: 0;
        }
      }
    }
    &-text {
      background: @black;
      position: absolute;
      z-index: 2;
      left: 0;
      top: 0;
      margin-left: 0;
      width: @1_3;
      height: 100%;
      padding: 0 60px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      h2,
      p {
        margin: 0;
        margin-bottom: 40px;
      }
      p {
        color: #ffffff;
        font-weight: 300;
        font-size: 1em;
        line-height: 166%;
        letter-spacing: 0.05em;
      }
    }
  }
  .leftWord {
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 140px;
    line-height: 80px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    transform-origin: left top;
    transform: rotate(90deg);
    position: absolute;
    color: #f5f5f5;
    transform: rotate(-90deg);
    z-index: -1;
    left: 100px;
    bottom: 0;
    &-container {
      position: relative;
      width: 100%;
    }
  }
  //////
  .def-insert-section-h {
    padding-left: 70px;
    padding-right: 70px;
    &.box{
      box-sizing: content-box;
    }
    @media (max-width: 1024px) {
      padding-left: 40px;
      padding-right: 40px;
    }
    @media (max-width: 550px) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  .def-insert-section-v {
    padding-top: 100px;
    padding-bottom: 100px;
    &.box{
      box-sizing: content-box;
    }
    @media (max-width: 1024px) {
      padding-top: 70px;
      padding-bottom: 70px;
    }
    @media (max-width: 550px) {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }
  .def-offset-block {
    margin: 50px auto;
    @media (max-width: 1024px) {
      margin: 40px auto;
    }
  }
  .def-offset-section {
    margin: 100px auto;
    @media (max-width: 1024px) {
      margin: 70px auto;
    }
    @media (max-width: 550px) {
      margin: 50px auto;
    }
  }
}

.footer {
  padding-top: 60px;
  height: 340px;
  background: @black;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  z-index: -1;
  font-size: 1rem;
  .row {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
    .col {
      flex-basis: ~"calc(100% / 4)";
      padding: 0 15px;
    }
  }
  &-title {
    font-family: Raleway;
    font-size: 1.125em;
    line-height: 166%;
    color: #ffffff;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    margin-bottom: 25px;
  }
  &-logo {
    margin-top: -60px;
    display: block;
    img {
      user-select: none;
      pointer-events: none;
    }
  }
  p {
    font-weight: 300;
    font-size: 0.825em;
    line-height: 130%;
    color: #ffffff;
    display: flex;
    align-items: center;
    a {
      transition: @anim;
      &:hover {
        opacity: 0.6;
      }
    }
  }
  &-input {
    font-family: Open Sans;
    font-weight: 300;
    font-size: 0.825em;
    line-height: 130%;
    color: #ffffff;
    display: flex;
    align-items: center;
    height: 47px;
    background: none;
    border: 0;
    border-bottom: 1px solid #c4c4c4;
    width: 100%;
    margin-bottom: 25px;
    outline: none;
    &::placeholder {
      color: #ffffff;
    }
  }
  &-button {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 0.6875em;
    line-height: 130%;
    color: #ffffff;
    /* or 14px */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.125em;
    text-transform: uppercase;
    background: @black;
    border: 1px solid @blue;
    box-sizing: border-box;
    padding: 0 25px;
    height: 27px;
    cursor: pointer;
    transition: @anim;
    &:hover {
      background: @blue;
      color: #ffffff;
    }
  }
  &-down {
    margin-top: 50px;
    display: flex;
    align-items: center;
    background: @gray;
    height: 68px;
  }
  &-pp {
    font-family: Open Sans;
    font-size: 0.8125em;
    line-height: 130%;
    color: #ffffff;
    text-align: center;
    /* or 17px */
    display: flex;
    align-items: center;
    justify-content: center;
    a {
      transition: @anim;
      &:hover {
        opacity: 0.6;
      }
    }
  }
  &-social {
    display: flex;
    align-items: flex-end;
    margin-left: -5px;
    margin-right: -5px;
    &-item {
      margin: 0 5px;
      width: 35px;
      min-width: 35px;
      height: 35px;
      border: 1px solid #ffffff;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: @anim;
      border-radius: 50%;
      &:hover {
        opacity: 0.6;
      }
    }
  }
}
.goto-up {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  background: @gray;
  right: 25px;
  bottom: 14px;
  position: fixed;
  border-radius: 21px;
  transition: @anim;
  opacity: 0;
  pointer-events: none;
  z-index: 20;
  &.show {
    opacity: 1;
    pointer-events: auto;
  }
  &:before {
    content: "";
    display: block;
    width: 1px;
    height: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-top: 5px;
    transition: @anim;
    background: #ffffff;
  }
  &:hover {
    height: 70px;
    background: #1b1b1b;
    &:before {
      height: 13px;
    }
  }
}
